<section class="page-header">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/amitkma" class="btn"><i class="fa fa-github"></i> Github</a>
  <a href="https://www.linkedin.com/in/amitkma/" class="btn"><i class="fa fa-linkedin"></i> LinkedIn</a>
  <a href="https://twitter.com/iAmitkma" class="btn"><i class="fa fa-twitter"></i> Twitter</a>
</section>